.hidden {
    color: transparent;
}
/* se usa un estilo pixel para la estatica del juego */
body { 
    background-color: #e8a9a9;
    color: #fff;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Atributos esteticos del la palabra a descubrir */
#wordContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Vista del las letras incognitas */
.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}
/* Vista de las letras despues de descubrilas */
.letter::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}
/* Estilos del boton Start-reset */
#startButton, #resetButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: calc(50% - 20px); /* Ocupa el 50% del ancho disponible y resta el espacio entre los botones */
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#resetButton {
    background: #5d99d3;
}

#canvas {
    border: 1px solid #000;
    margin-top: 20px;
    width: 100%; 
    max-width: 250px; 
    height: auto; 
}

.used-letters {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Estilos del teclado virtual */
#keyboard {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 300px; /* Limita el ancho máximo del teclado */
}

.key {
    background-color: #d95d39;
    color: #fff;
    border: none;
    padding: 10px;
    font-family: 'SF Pixelate', sans-serif;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 40px;
    height: 40px;
}

#scoreContainer {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
    #startButton, #resetButton {
        width: 250px;
        font-size: 18px;
    }

    #canvas {
        max-width: 150px;
    }

    .letter {
        margin: 0 5px;
        font-size: 1.5rem;
    }

    .used-letters {
        font-size: 1rem;
    }

    .key {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #startButton, #resetButton {
        width: 200px;
        font-size: 16px;
    }

    #canvas {
        max-width: 120px;
    }

    .letter {
        margin: 0 3px;
        font-size: 1.2rem;
    }

    .used-letters {
        font-size: 0.9rem;
    }

    .key {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}
